#!/opt/local/bin/rc

BOOTSTRAP=sys15
ACCEPTORS=(sys04 sys05 sys07 sys08 sys09)
REPLICAS=(sys10 sys11 sys12 sys13 sys14)
CLIENT=sys01
DOMAINSUFFIX=.systems.cs.cornell.edu
BASE=/local/concoord-deniz
CONCOORDDIR=/home/deniz/concoord
PYTHON=python

#### YOU SHOULD NOT HAVE TO CHANGE ANYTHING BELOW THIS LINE

# This script starts a given number of replica nodes, and acceptor nodes
# and a client node on sys cluster.
if (test $#* -ne 2) {
  echo "Usage: `basename $0` number-of-replicas number-of-acceptors" 
  exit 1
}

CONCOORDR=$CONCOORDDIR/replica.py
CONCOORDA=$CONCOORDDIR/acceptor.py
CONCOORDC=$CONCOORDDIR/noopclient.py

BOOTSTRAP=$BOOTSTRAP^$DOMAINSUFFIX
ACCEPTORS=$ACCEPTORS^$DOMAINSUFFIX
REPLICAS=$REPLICAS^$DOMAINSUFFIX
CLIENT=$CLIENT^$DOMAINSUFFIX

#
# execute the given command on the host, redirecting output appropriately
#
fn docmd {
    host=$1
    cmd=$2
    LOGFILE=$BASE/concoord.log.$host
    cmd= $cmd ^ ' >' ^ $LOGFILE ^ ' 2>&1 &'
    echo '   ' ^ Spawning on $host $cmd
    ssh deniz@$host $cmd
}

numreplicas=`{expr $1 - 1}
numacceptors=$2

echo Spawning bootstrap node on $BOOTSTRAP:6668
docmd $BOOTSTRAP 'nohup ' ^ $PYTHON ^ ' ' ^ $CONCOORDR ^ ' -o bank -d'
sleep 2

echo Spawning $numreplicas replicas
while(expr $numreplicas '>' 0 >/dev/null) {
    hostindex=`{expr $numreplicas % $#REPLICAS + 1}
    docmd $REPLICAS($hostindex) 'nohup ' ^ $PYTHON ^ ' ' ^ $CONCOORDR ^ ' -b ' ^ $BOOTSTRAP ^ ':6668 -d'
    numreplicas=`{expr $numreplicas - 1}
}
sleep 2

echo Spawning $numacceptors acceptors
while(expr $numacceptors '>' 0 >/dev/null) {
    hostindex=`{expr $numacceptors % $#ACCEPTORS + 1}
    docmd $ACCEPTORS($hostindex) 'nohup ' ^ $PYTHON ^ ' ' ^ $CONCOORDA ^ ' -b ' ^ $BOOTSTRAP ^ ':6668 -d'
    numacceptors=`{expr $numacceptors - 1}
}
sleep 2

echo Starting client 
docmd $CLIENT 'nohup ' ^ $PYTHON ^ ' ' ^ $CONCOORDC ^ ' -b ' ^ $BOOTSTRAP ^ ':6668 ' ^ $1 ^ ' ' ^ $2
