html {
    height:100%;
}

body{
    border:0;
    margin:0;
    padding:0;
    color: #595959;
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

.align-right {
    float: right;
    margin: 5px 0 5px 5px;
}

.align-center {
    margin: 5px auto;
    display: block;
}

/* NAV BAR*/
.navbar{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    background:#20a0c0;
    color:#fff;
    z-index:1000;
}

.navbar #sign{
    position:absolute;
    top:0;
    right:0;
    padding:0.8em 0.8em;
    font-size: 1.2em;
    color:#000;
    text-decoration:none;
}

.navbar #signleft{
    position:absolute;
    top:0;
    right:100px;
    padding:0.8em 0.8em;
    font-size: 1.2em;
    color:#000;
    text-decoration:none;
}

.navbar ul{
    display:inline-block;
    margin:0;
    padding:0;
}

.navbar li{
    margin:0;
    padding:0;
    list-style-type:0;
    display:inline-block;
}

.navbar li a {
    display:inline-block;
    color:#efefef;
    padding:1em 1.3em;
    text-decoration:none;
    text-transform: uppercase;
    line-height:100%;
    font-size: 1.2em;
}

/* Left Side Bar */
div.leftsidebar {
    margin-top: 53pt;
    padding: 0.5em 1em; 
    width: 200px;
    float: left;
}

div.leftsidebar a.mainlevel,
div.leftsidebar h3 {
    background-color: #e0e0e0;
    font-weight: normal;
    font-size: 1em;
    padding: 0.5em 1em;
    margin: 1px 0px;
}

div.leftsidebar ul,
div.leftsidebar li {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

div.leftsidebar ul li ul {
    display: none;
}

div.leftsidebar li a {
    background-color: #f0f0f0;
    display: block;
    font-weight: normal;
    font-size: 1em;
    padding: 0.5em 1em;
    color: #515151;
    border-left: 2px solid transparent;
}

div.leftsidebar ul ul li.current > a,
div.leftsidebar li a:hover {
    text-decoration: none;
    background-color: #e0f0f0;
    border: none;
    color: #202530;
    border-left: 2px solid #20a0c0;;
}

/* Contents */
#contents {
    width : 760px;
    background : #fff;
    border : 1px solid #f6f6f6;
    border-top : none;
    clear : both;
    margin : 0px;
    padding : 20px;
}

#twitter-follow-button {
    position:absolute;
    top:200px;
    right:0;
}

#banner {
    color : #369;
    font-size : small;
    font-weight : thick;
    line-height : 15px;
    margin-left : 100px;
    padding : 2px 10px 2px 10px;
    border : 2px solid #369;
    float:right;
    text-align:right;
}

#main-old {
    width : 780px;
    background : #fff;
    min-height:600px;
    padding : 0px 20px 20px 20px;
    margin-left:180;
    margin-right:auto;
    border-top: 1px solid #fff;
    border-right: 1px solid #f6f6f6;
    border-left: 1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
    border-radius: 5px 5px;
}

#main{
    margin: 30px auto;
    max-width: 800px;
    padding: 30px 30px;
}

/* Footer */
#footer{
    text-align:center;
    padding:20px;
    margin:0;
    border-top:1px solid #ddd;
    color:#999;
    font-size:0.8em;
    text-shadow:0px 1px 1px #fff;
    position: relative;
    bottom:0px;
    height:20px;
    width:100%;
    background:#fff;
}

#footer a {
    font-size : normal;
    font-weight : thick;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

#header {
    margin: 0 100 0 0px;
}

.clear {
    color: #369;
    clear: both;
}

#main pre {
    background-color: #f0f0f0;
    padding: 10px 15px;
    font-family: 'Source Code Pro', monospace;
}

pre.status {
    font-size: 12px;
    padding: 5px;
    margin: 0;
    background: #f0f0f0;
    line-height: 20px;
    overflow: auto;
}

pre code {
    margin: 0 0 0 40px;
    padding: 18px 0;
    display: block;
}

.supportleft {
    float: left;
    text-align: center;
    width: 200px;
}

#label {
    position:absolute;
    width: 190px;
    left: 12px;
    padding:10px;
}

#input {
    position:absolute;
    width:140px;
    left:200px;
    float:left;
    padding:10px;
}

.peoplelist { margin-left: 5px; }
.peoplelist table tr td { font-size: 14pt; }
.peoplelist table tr td { padding-top: 14px; }
ul.mainpage li { margin-top: 8pt; }

.align-middle { text-align: middle; }

a {
    color: #003F87;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1,h2,h3,h4,h5,h6{
font-weight:bold;
line-height:140%;
}

h1{
font-size:2.7em;
margin:10px 0 10px 0;
}

h2{
font-size:2.4em;
margin:10px 0 10px 0;
}

h3{
font-size:2.1em;
margin:10px 0 10px 0;
}

h4{
font-size:1.8em;
margin:10px 0 10px 0;
}

h5{
font-size:1.5em;
margin:10px 0 10px 0;
}

h6{
font-size:1.2em;
margin:10px 0 5px 0;
}


a.toggler {
    font-size: 9pt;
    color: #595959;
}

table.codesubmit tbody tr th { text-align: right; align: right; }
table.codesubmit tbody tr td ul li { float: right; font-size: 9pt; color: red; }

.icon {
    position: relative;
    background: transparent url(/static/icons.png) no-repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    height: 30px;
    margin: -3px;
    top: -3px;
}
.icon-overview { background-position: 0 0; width: 150px; }
.icon-faq      { background-position: -150 0; width: 75px; }
.icon-download { background-position: -220 0; width: 160px; }
.icon-about    { background-position: -370 0; width: 104px; }
.icon-obj      { background-position: -465 0; width: 115px; }
.icon-sign     { background-position: 0 -30; width: 75px; }
.icon-up       { background-position: -135 -30; width: 50px; }
.icon-in       { background-position: -70 -30; width: 50px; }
.icon-out      { background-position: -190 -30; width: 80px; }
.icon-line     { background-position: -120 -30; width: 15px; }

.pagerighticon:hover { background-position: -25px 0; }
.pagelefticon { background-position: 0 -25px; }
.pagelefticon:hover { background-position: -25px -25px; }

#mydomain {
    color: #fff;
    background: #f00;
    padding: 5 20 5 20;
    position: absolute;
    top: 10px;
    right: 300px;
}
#mydomain a:link {
    color: #fff;
    background: #f00; 
    text-decoration: none;
}
#mydomain a:visited {
    color: #fff;
    background: #f00;
}

.userlogin {
    float:right;
    margin-top: 5px;
}

div.question:before {
    content: counter(faqq) ". ";
    font-size: 3em;
}
div.question { 
    color: a31e39; 
    counter-increment: faqq;
    padding-top: 1em;
}

.ui-spinner {
    width: 5em;
    display: block;
    position: relative;
    overflow: hidden;
    border: 1px solid #999;
    background: #FEFEFE url(images/spinner-bg.gif) repeat-x left bottom;
    padding: 0 5px;
}

.ui-spinner-disabled {
    background: #F4F4F4;
    color: #CCC;
}

.ui-spinner-box {
    width: 90%;
    height: 100%;
    float: left;
    font-size: 125%;
    border: none;
    background: none;
    padding: 0;
}

.ui-spinner-up,
.ui-spinner-down {
    width: 20%;
    height: 50%;
    font-size: 0.5em;
    padding: 0;
    margin: 0;
    z-index: 100;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    right: 0;
    cursor: default;
    border: 1px solid #999;
    border-right: none;
    border-top: none;
}

.ui-spinner-down {
    bottom: 0;
    border-bottom: 0;
}

.ui-spinner-pressed {
    background: #FEFEFE;
}

.ui-spinner-list,
.ui-spinner-listitem {
    margin: 0;
    padding: 0;
}

#deletenodes * li { 
    list-style-type: none;
}

ul.errorlist {
    float: right;
    margin: 5 0 0 0;
    padding-left: 10;
}
ul.errorlist li {
    color: red;
    list-style-type: none;
}

#noc{
    align: center;
    background:#fff;
    width:480px;
    border-collapse:collapse;
    text-align:left;
    margin:5px;
}

#noc th{
    font-size:14px;
    font-weight:normal;
    color:#054950;
    border-bottom:2px solid #667;
    padding:10px 8px;
}

#noc td{
    border-bottom:1px solid #ccc;
    color:#789a9f;
    padding:6px 8px;
}

#noc tbody tr:hover td{
    color:#054950;
}

/* REPLICA MENU */
.group:after {
    visibility: hidden;
    display: block;
    font-size: 0; 
    content: " ";
    clear: both;
    height: 0;
}

.box-wrap {
    position: absolute;
    min-height: 500px;
}

#ie-test {
    position: relative;
    width: 100%;
}

#boxLinks {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

#boxLinks li {
    display: inline;
}

#boxLinks li a { 
    padding: 5px 10px;
    color: black; 
    text-decoration: none; 
    border: 2px solid #069; 
    background: #f0f0f0;
    float: left;
    display: block;
    margin-left: -1px;
    position: relative;
    left: 1px;
    border-radius: 5px 5px 0px 0px;
}
#boxLinks li a:hover {
    background: #f0f0f0;
}

#box {
    height: 500px;
    border: 2px solid #069;
    overflow: hidden;
    padding: 0px;
    position: relative;
    top: -1px;
    border-radius: 0px 5px 5px 5px;
}

.box { 
    display: none; 
    height: 500px; 
    overflow: auto;
    display: block;
    position: relative;
    overflow-x: hidden;
}

pre.literal {
    font-size: 12px;
    padding: 5px;
    margin: 0;
    background: #f0f0f0;
    line-height: 20px;
}